<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" http-equiv="Access-Control-Allow-Origin"  media="screen" href="static/styles/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" charset="utf-8"/>
<title>云龙庄</title>
</head>

<body>

<form action="">
    日期: <input id="select_date" type="date">
    <button title="refresh">刷新</button>
</form>

<ul>
	<h2>状态</h2>
    <p>日期：<a id="now_date">1</a></p>
    <li >
	    <ul>
		    <h3>豪华大床房</h3>
		    <li>
			    <p class="room" title="101">101
                    <img id="Room101" style="width:15px;height:15px " src="static/images/no_ordered.png">&nbsp;&nbsp;&nbsp;</image>
                </p>
		    </li>
		    <li>

                <p class="room" title="201">201 <img id="Room201" style="width:15px;height:15px " src="static/images/no_ordered.png">&nbsp;&nbsp;&nbsp;</image> </p>
            </li>
		    <li>
			    <p class="room" title="202">202 <img id="Room202" style="width:15px;height:15px  " src="static/images/no_ordered.png">&nbsp;&nbsp;&nbsp;</image> </p>
		    </li>
	    </ul>
    </li>
    <li>
        <ul>

            <h3>豪华标间</h3>
            <li>
                <p class="room" title="102">102 <img id="Room102" style="width:15px;height:15px " src="static/images/no_ordered.png">&nbsp;&nbsp;&nbsp;</image> </p>
            </li>
            <li>
                <p class="room" title="203">203 <img id="Room203" style="width:15px;height:15px " src="static/images/no_ordered.png">&nbsp;&nbsp;&nbsp;</image> </p>
            </li>
            <li>
                <p class="room" title="302">302 <img id="Room302" style="width:15px;height:15px  " src="static/images/no_ordered.png">&nbsp;&nbsp;&nbsp;</image> </p>
            </li>

        </ul>
    </li>
    <li>
        <ul>
            <h3>大床房</h3>
            <li>
                <p class="room" title="103">103 <img id="Room103" style="width:15px;height:15px " src="static/images/no_ordered.png">&nbsp;&nbsp;&nbsp;</image> </p>
            </li>
            <li>
                <p class="room" title="105">105  <img id="Room105" style="width:15px;height:15px " src="static/images/no_ordered.png">&nbsp;&nbsp;&nbsp;</image> </p>
            </li>
            <li>
                <p class="room" title="106">106 <img id="Room106" style="width:15px;height:15px  " src="static/images/no_ordered.png">&nbsp;&nbsp;&nbsp;</image> </p>
            </li>
            <li>
                <p class="room" title="109">109 <img id="Room109" style="width:15px;height:15px  " src="static/images/no_ordered.png">&nbsp;&nbsp;&nbsp;</image> </p>
            </li>
        </ul>
    </li>
    <li>
         <ul>
            <h3>标间</h3>
            <li>
                <p class="room" title="107">107 <img id="Room107" style="width:15px;height:15px " src="static/images/no_ordered.png">&nbsp;&nbsp;&nbsp;</image> </p>
            </li>
            <li>
                <p class="room" title="108">108  <img id="Room108" style="width:15px;height:15px " src="static/images/no_ordered.png">&nbsp;&nbsp;&nbsp;</image> </p>
            </li>
        </ul>
    </li>
    <li>
        <ul>
            <h3>套房</h3>
            <li>
                <p class="room" title="301">301 <img id="Room301" style="width:15px;height:15px " src="static/images/no_ordered.png">&nbsp;&nbsp;&nbsp;</image> </p>
            </li>
        </ul>
    </li>
</ul>
<script src="static/layui/layui.js"></script>
<script  src="static/js/getHttpObject.js"></script>
<script  src="static/js/Home.js"></script>
<script  src="static/js/connect.js"></script>
<script  src="static/js/jquery.js"></script>

</body>


</html>